body {
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background position: center;
}
h1 {
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
	background-color: 
}
h2 {
	font-size: 22px;
	margin-top: 40;
	text-indent: 100;
	border-color: blue;
}

.bio {
	font-size: 14px;
	margin-left: 50;
	margin-right: 50;
}
.me { 

    height: 200px; 
    border-radius: 100px; 
    border-style: solid; 
    margin-top:80px; 
}

#container {
	width: 500px;
	margin:0 auto;
	text-align: center;
}