body {
	background-image: url("../images/bg2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background position: center;
	background-size: 1600px 700px;
}
h1 {
	color: #388899;
	text-shadow: 2px 2px #42f4f1;
	font-size: 55px;
	font-weight: normal;
	margin-bottom: ;
	margin-top: 10px;
	background-color: 
}
h2 {
	color: #0d8389;
	text-shadow: 1px 1px #ef9d56;
	font-family: 'Faster One', cursive;
	font-size: 30px;
	margin-top: 20;
}
p {
	background-color: #83e2d8;
	opacity: .7;
}

.bio {
	font-size: 14px;
	margin-left: 50;
	margin-right: 50;
}
.me { 
	color: #42f4f1;
    height: 200px; 
    border-radius: 100px; 
    border-style: solid; 
    margin-top:20px; 
}

#container {
	width: 500px;
	margin:0 auto;
	text-align: center;
}